

<!-- A lista de contatos enviada para view la na ContatoController está sendo 
    carregada com esse comando aqui, para dentro de model.
-->

@model IEnumerable<ProjetoMVC.Models.Contato>

@{
    ViewData["Title"] = "Listagem de contatos";
}

<h2>Contatos</h2>

<p>
    <!-- asp-action invoca o metodo Criar -->
    <a class="btn btn-success" asp-action="Criar">Novo Contato</a>
</p>

<table class="table">
    <thead>
        <!--Cabeçalho da Tabela-->
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
                <!-- esse th é pq tem 5 th ali em baixo e ai se aqui tiver
                só 4 a linha do o cabeçalho não acompanha até o final -->
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <!--Tabela de Contatos-->
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Ativo)
                </td>
                <td>
                    <!-- asp-route-id retorna para o metodo q está no asp-action o valor item.Id -->
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a class="btn btn-info" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a class="btn btn-danger" asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>